<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <!--<script src="js/vue.js"></script>-->
    <script src="../static/vuejs/vue-resource.js"></script>
</head>
<body>
<div id="app">
    <input type="button" value="点击获取" @click="getdata()"/>
</div>

<div id="example">
    <ul>
        <li v-for="item in items">
            <h2 @click="showToggle(item)">{{item.name}}</h2>
            <ul v-show="item.isSubShow">
                <li v-for="subItem in item.subItems">
                    <h3>{{subItem.name}}</h3>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script>
    new Vue({

        el: "#app",
        methods: {
            items() {
                return {
                    arrs:[  {
                        "userId": 10,
                        "id": 191,
                        "title": "temporibus atque distinctio omnis eius impedit tempore molestias pariatur",
                        "completed": true
                    },
                        {
                            "userId": 10,
                            "id": 192,
                            "title": "ut quas possimus exercitationem sint voluptates",
                            "completed": false
                        }]
                    //     {
                    //     // [
                    //     //     {
                    //     //         "userId": 9,
                    //     //         "id": 167,
                    //     //         "title": "et quis minus quo a asperiores molestiae",
                    //     //         "completed": false
                    //     //     }
                    //     // ]
                    // }
                }
            },

            getdata: function () {
                alert("heeo 5")
                var vm = this;
                this.$http.get("data/json_data.json")
                    .then((data) => {
                        console.log(data)
                        alert("heeo 6")
                        alert(data.data);
                        vm.arrs = data.data;
                        alert("heeo 7")
                    })
            },

            get: function () {
                // this.$http.get('http://jsonplaceholder.typicode.com/todos').then(function(res){
                //     alert(res.data);
                //
                // },function(res){
                //     alert(res.status)
                // });
                alert("heeo 1")
                this.$http.get('http://jsonplaceholder.typicode.com/todos')
                    .then(function (res) {
                        // vm.focusList = res.data;
                        alert("heeo2")
                        alert(res)
                        alert("heeo3")

                        return res;
                    })
                    .catch(function (err) {
                        console.log(err)
                        alert("heeo4")
                    })
            }


        }

    })


</script>
</body>
</html>
