<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<template>
    <div id="app">
        <div v-html="htmlValue"></div>
        <input type="button" value="点击获取" v-oncli="getdata()"/>
    </div>
</template>

<script>
    // import Home from "./components/Home.vue";
    new Vue({
        el: "#app",

        methods: {
            data() {
                return {
                    flag: true,
                    htmlValue: ""
                };
            },

            getData: function() {
                this.$http.post(`http://360.com/api/auth/login`).then(
                    res => {
                        console.log(res);
                        this.htmlValue = res.body;
                    },
                    err => {}
                );
            },
            created(){
                alert("heell1")
                this.getData();
            }
        }
    })
</script>

<style lang="scss">
</style>
</body>
</html>
