<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>vue点击切换显示隐藏</title>
    <script src="/vuejs/vue.js"></script>
    <script src="/vuejs/vue-resource.js"></script>
    <style type="text/css">
        *{
            padding: 0;
            margin: 0;
            font-size: 14px;
        }
        ul{
            width: 200px;
            height: auto;
        }
        h2{
            background: #999999;
            border: 1px solid #fff;
            color: #fff;
            height: 30px;
            line-height: 30px;
            text-indent: 24px;
        }
        h3{
            background: #cccccc;
            height: 24px;
            line-height: 24px;
            border: 1px solid #fff;
            color: #fff;
            text-indent: 30px;
        }
    </style>
</head>
<body>

<!--<div id="app1">-->
    <!--<input type="button" value="点击获取" @click="getdata"/>-->
<!--</div>-->
<div id="app">
    <!-- `greet` 是在下面定义的方法名 -->
    <button v-on:click="greet">点击获取</button>
    <ul>
        <li v-for="item in items">
            <h2 @click="showToggle(item)">{{item.userId}}</h2>
            <h2 @click="showToggle(item)">{{item.id}}</h2>

        </li>
    </ul>
</div>
<div id="example">
    <ul>
        <li v-for="item in items">
            <h2 @click="showToggle(item)">{{item.userId}}</h2>
            <h2 @click="showToggle(item)">{{item.id}}</h2>

        </li>
    </ul>
</div>
<script type="text/javascript">
    new Vue({
        el:"#app",
        data:{
            items:[
                {
                    "userId": 10,
                    "id": 189,
                    "title": "culpa eius et voluptatem et",
                    "completed": true
                },
                {
                    "userId": 103,
                    "id": 1903,
                    "title": "accusamus sint iusto et voluptatem exercitationem",
                    "completed": true
                }
            ]
        },

        methods:{
            showToggle:function(item){
                item.isSubShow = !item.isSubShow
            },

            greet: function (event) {
                // alert("heeo 155")
                console.log("greet")
                // alert("heeo 5")
                var vm = this;
                this.$http.get("/data/json_data.json")
                    .then((data) => {
                        console.log(data)
                        // alert("heeo 6")
                        // alert(data.data);
                        vm.arrs = data.data;
                        vm.items = data.data;
                        // alert("heeo 7")
                    })

            }
        }
    })
</script>






















<script type="text/javascript">
    new Vue({
        el:"#example",
        data1(){
            return {
                focusList:[]      //存储请求返回的数据
            }
        },
        data:{
            items:[
                {
                    "userId": 10,
                    "id": 189,
                    "title": "culpa eius et voluptatem et",
                    "completed": true
                },
                {
                    "userId": 103,
                    "id": 1903,
                    "title": "accusamus sint iusto et voluptatem exercitationem",
                    "completed": true
                }
            ]
        },
        getdata: function () {
            alert("heeo 5")
            var vm = this;
            this.$http.get("data/json_data.json")
                .then((data) => {
                    // console.log(data)
                    alert("heeo 6")
                    alert(data.data);
                    vm.arrs = data.data;
                    alert("heeo 7")
                    vm.items = data.data;
                    return vm.items;
                })
        },
        methods:{
            showToggle:function(item){
                item.isSubShow = !item.isSubShow
            }
        }
    })
</script>
</body>
</html>
