<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpringBoot上传文件</title>
</head>
<body>
<style>
    #fontset5{font-size:5vw;}
    #fontset7{font-size:6vw;}
</style>

<h1>杭高院每周菜单管理</h1>

<p th:text="${uploadResult}">default message</p>

<a th:href="@{/file/download(fileName=杭高院每周菜单模板.xlsx)}">杭高院每周菜单上传模板</a> <br/>
<form th:action="@{/file/uploadByJarDeploy}" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit" value="上传文件">
</form>
</body>
</html>